.StreamMedia{
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.AspectMedia{
    text-align: center;
}
.userMediaElemet{
    border-radius: 50px;
}

.StreamMediaButton{
    margin: auto;
    text-align: center;
}

.AspectMedia div{
    text-align: center;
    margin: auto;
    height: 481px;
    width: fit-content;
    border-radius: 30px;
    background-color: rgb(5,136,240);
}